{% block snd_cms_block_big_five_grid_preview %}
    <div class="snd-cms-block-preview-big-five-grid">
        <img :src="'/administration/static/img/cms/preview_camera_small.jpg' | asset">
        <div class="snd-cms-block-preview-big-five-grid-clo">
            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
            <br/>
            <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset">
        </div>
        <div class="snd-cms-block-preview-big-five-grid-clo">
            <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset">
            <br/>
            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        </div>
    </div>
{% endblock %}
