{% block snd_cms_block_big_five_grid %}
    <div class="snd_cms_block_big_five_grid">
        <div class="snd_cms_block_big_five_grid_col">
            <slot name="big"></slot>
        </div>
        <div class="snd_cms_block_big_five_grid_col">
            <slot name="one"></slot>
            <slot name="three"></slot>
        </div>
        <div class="snd_cms_block_big_five_grid_col">
            <slot name="two"></slot>
            <slot name="four"></slot>
        </div>
    </div>
{% endblock %}
